<%
activepage = 1;%>
<%-
include('../partials/portal-header.ejs')
%>
<title>Dashboard - Auction House</title>
<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">
        Dashboard
      </h1>
    </div>
  </header>
<style>
   .dash-content li{
       padding:7px 10px;
       list-style-position: inside;
   }
   #btnVerify{
       background:#fff;
   }
   #btnVerify:hover{
       background:#000;
   }
   .mytxtinput{
       font-size: 18px;
       padding:6px;
       text-align: center;
       min-width: 400px;;
   }
    </style>
    <div class='maincontentfull'>
    <%if(!customer.isVerified){%>
        <div class='middlepanel'>
        <div class='dash-box' id='verifyboxmain'>
        <div class='dash-title'>Please verify your account</div>
        <div class='dash-content' style='    background: #e5e5e5;color: #555;'>
            <div id='coderesults'></div>
            Your account is not verified.
            You should have recieved and email from properties.online with a link/verification code. Please enter and submit your verification code to allow a 
            <div style='text-align: center;padding:10px;'><input type='text' class='mytxtinput' id='mycode'/></div>
            <div style='text-align: center;padding:10px;'>
            <button class='btn btn-3 ' id='btnVerify' style='margin-top:20px;min-width: 200px;margin-bottom:20px;' onclick='verifycode()'>Verify</button>
            <p>Not recieved a code, <a href='#codereset' id='codereset'>Click Here</a> to have a new code sent to your mailbox.</p>
            </div>
        </div>
        </div>
    </div>
    <%}%>
    </div>
    <div class='maincontentfull'>
        
        <div class='sidepanelsmall'>
            <div class='summarybox'>Saved Properties</div>
        </div>
        <div class='middlepanel'>



        <div class='dash-box'>
            <div class='dash-title'>Welcome</div>
            <div class='dash-content' style='    background: #e5e5e5;color: #000;'>
                <p>Hello </p>
                <p>&nbsp;</p>
                <p>The team here at Auction House are dedicated to delivering the highest 
                   quality of service in the most professional manner possible but we need 
                   your help if we’re going to do that so:
                </p>
                   <p>&nbsp;</p>
                   <ol>
                       <li>If you have a question pick up the phone and ask, we’re here to help</li>
                       <li>Please complete as much of the information in your customer account profile as you are able to assist us in doing our job properly</li>
                       <li>Whatever you need to know we can tell you so don’t be shy we’re here for you</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p>From this portal you will be able to view property particulars, register as a
                    seller or a bidder, find useful information that will guide you through
                    the process of buying or selling at auction.</p>
                    <p >&nbsp;</p>
                    <p>We hope you find this website useful and look forward to being of service to you. </p>
                    <p>&nbsp;</p>
                    <p>Best Regards</p>
                    <p>Team Auction House</p>
            </div>
        </div>




    </div>
    <div class='sidepanel'>
        <% 
            var ai = "<div class='hiddeninfo'><p>Your E-Mail Address has not been verified, You should have recieved an email during registration with a verification code. This page has a verification box to enter in the details.</p> <p>If you have not received an email address please request the email to be sent again</p></div>"
            var email_verifcation_status = customer.isVerified?"<div class='actionresults'>COMPLETE"+ai+"</div>":"<div class='actionresults pending'>PENDING"+ai+"</div>"
            
            var ai = "<div class='hiddeninfo'><p>The bidding profile is not complete, please click here to complete</p></div>"
           
            var bidding_profile_complete = customer.profile_updated?"<div class='actionresults'><a href='/portal/profile'>COMPLETE</a>"+ai+"</div>":"<div class='actionresults pending'><a href='/portal/profile'>PENDING</a>"+ai+"</div>"
            var additionalinfo = "<div class='hiddeninfo'><p>The bidding profile is not complete, please click here to complete</p></div>"
           
            var verification_documents_uploaded = customer.documentsuploaded?"<div class='actionresults'><a href='/portal/verificationdocs'>COMPLETE</a>"+ai+"</div>":"<div class='actionresults pending'>"+ai+"<a href='/portal/verificationdocs'>PENDING</a></div>"
            var ai = "<div class='hiddeninfo'><p>An AML Check or Anti Money Laundering Check needs to be performed against all Customers wishing to bid.</p><p>Currently no AML Check have been run for you.</p></div>"
            console.log(amlCheck);
            if(amlCheck){
                if(amlCheck[0]){
                    var ai = "<div class='hiddeninfo'><p>An AML Check or Anti Money Laundering Check needs to be performed against all Customers wishing to bid.</p><p>Your AML Status is Pas</p></div>"
                    customer.amldate = helper.formateDateTimeFull(amlCheck[0].rundate);
                    customer.amlstatus = amlCheck[0].bandtext;
                }
            }
            var aml_status = customer.amlstatus?"<div class='actionresults'>"+customer.amlstatus+ai +"</div>"+"<div class='actionresults'>"+customer.amldate+"</div>":"<div class='actionresults pending'>"+ai+"PENDING</div>"
            
            var additionalinfo = "<div class='hiddeninfo'><p>Your account manager is your first point of call, please feel free to contact him with any queries you might have.</p></div>"
            var additionalinfounassigned = "<div class='hiddeninfo'><p>Your account manager is your first point of call, Currently you have not been assigned an account manager.<br> Complete a few of the steps and an account manager will be assigned or feel free to contact Auction House directly.</p></div>"
            customer.accountmanager = customer.agentfname?customer.agentfname+' '+customer.agentlname:'';
            var account_manager = customer.accountmanager?"<div class='actionresults'>"+customer.accountmanager+additionalinfo+"</div>":"<div class='actionresults pending'>UNASSIGNED"+additionalinfounassigned    +"</div>"

        %>
        <div class='summarybox'>E-Mail Verification:  <%-email_verifcation_status%></div>
        <div class='summarybox'>Bidding Profile:  <%-bidding_profile_complete%></div>
        <div class='summarybox'>Verification Document:  <%-verification_documents_uploaded%></div>
        <div class='summarybox'>AML Status: <%-aml_status%></div>
        <div class='summarybox'>Account Manager:  <%-account_manager%></div>
    </div>
</div>
</div>
<script>
     $('.digittxt').keyup(function(e) {
        // if(e.keyCode==8){
             
        //      $(this).prev('.digittxt').focus();
        //      console.log('test')
        //   }
    //       if(this.value.length == $(this).attr('maxlength')) {
    //     $(this).next('.digittxt').focus();
    //  }
     
 });
 var spinner ='<div class="sk-chase"><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div></div>';

 function verifycode(){
    $('#error-code').html('');
    $('#coderesults').html(spinner)
        var verficationcode = $('#mycode').val();
        
        if(verficationcode.length>=6){
            $.post('/profile/verifycode',{verficationcode},function(data){
                console.log(data)
                if(data.status){
                    $('#coderesults').html('<div class="statusmessages successmsg">Great you are verified</div>')

                    setTimeout(function(){
                        window.location.reload();
                    },3000)
                    window.location.reload();
                    
                }else{
                 
                    $('#coderesults').html('<div class="statusmessages failedmsg">Wrong code, please try again.<br/>Do you know you can request a new code.</div>')
                }
            },'json')
        }else{
            $('#coderesults').html('<div class="statusmessages failedmsg">Looks like you might be missing a few of digits</div>')
        }
 }


 $('#codereset').click(function(){
        $('#coderesults').html(spinner)
        $.post('/account/resendverifycode',function(data){
            $('#coderesults').html('<div class="statusmessages successmsg">Code Request Sent, if you have not recieved anything please check your spam folder</div>')
        },'json')
    })
 $('.digittxt').keydown(function(e) {
     console.log(e)
         if(e.keyCode==8){
            $(this).val("") 
            $(this).prev('.digittxt').focus();
         }else{
            if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105)){
                $(this).val(e.key) 
                if(this.value.length == $(this).attr('maxlength')) {
                    $(this).next('.digittxt').focus();
                }
            }
            e.preventDefault();
         }
 });
</script>