<%
activepage = 3;%>
<%-
include('../partials/portal-header.ejs')
%>
<%
  function formatDate(date) {
    if(date){
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return date.getDate() + "/" + (date.getMonth()+1)  + "/" + date.getFullYear();
    }else{
      return "";
    }
  }
%>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">
      Bidding Profile
    </h1>
  </div>
</header>
<div class='maincontent'>
<%
if(members.length>1){
%>
<div class='profileselectcontainer'>
<div class='mycontainer'>
<div class='dash-box'>
  <div class='dash-content'>
  <label>Select Profile</label>
  <div class='select'><select class='mytxt3' id='memberselect'>
  <%members.forEach(function(m){
    
    var selected = '  '
    if(m.id==customer.id){
      selected = ' SELECTED '
    }%>
    <option value='<%-m.id%>' <%-selected%> ><%-m.username%></option>
    <%
  })%>
  </select>
  </div>

  <script>

    $('#memberselect').change(function(){
      var memberid =  $(this).find(":selected").val() 
      $.post('/portal/changeactivemember',{memberid:memberid},function(){location.reload()},'json')

    })
  </script>
</div>
</div>
</div>
</div>
<%
}
%>
</div>
<div class='maincontent'>
<script src="/dob-picker/dobpicker.js"></script>
<link href="/progress-bar-master/example/css/main.css" rel="stylesheet" />
<script src="/progress-bar-master/progress-bar.js"></script>
<script src="/js/profile_save.js"></script>
<!-- <script src="/js/postcode_search.js" defer></script> -->
<style>
  .cmimg {
    height: 100px;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 20px;
  }
  .fnameval{
   /* padding:15px;*/
    display: inline-block;
    font-weight: 600;
    background: #fff5d0;
    padding:5px 10px;
    border:2px solid #000;
    width:400px;
    overflow:hidden;
    vertical-align: middle;

   /* min-width: 500px;background-color: #fff;border:1px solid #ddd;;*/
  }
  .flbl{
    display: inline-block;
    min-width: 130px;;
    vertical-align: middle;
    font-weight: 400;
    font-size: 13px;;
  }
  .row2{
    white-space: nowrap;
    word-break: keep-all;
    margin:5px 0px;
    vertical-align: middle;
    display: flex;
  }
  .sitebtn-small2 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    background: #1680cd;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 80px;
}
.cimg{

  border: 1px solid #ddd;
}
.profilebox{
  padding: 20px;
  margin:30px; 
  background-color: #fff; 
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.075);
  margin-top:30px;
  overflow: hidden;
  margin:20px;
}
.profilecontainer{
  flex:1;
}
.profileselectcontainer{
  padding: 20px;
  margin:30px; 
  background-color: #fff; 
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.075);
  margin-top:30px;
  overflow: hidden;
  margin:20px;
  flex:1;
}
</style>
<div class="profilecontainer">
    <div class="profilebox">
    
      <div style='float:left;margin-right:20px'><img src="/images/user.gif" class="cimg" /></div>
      <div style='float:left;'>
        <div style='font-size:20px;font-weight: 600;'><%-customer.forename%> <%-customer.surname%></div>
        <div style='font-size:16px;'><%-customer.username%></div>
        <div style='font-size:16px;'><%-customer.mobile%></div>
      </div>
      <div style='float:right'><a href='/portal/profileedit'><button id='start' class='sitebtn-small2' style='float:right'>edit</button></a></div>
    <div style='clear:both;padding:5px;'></div>
</div>

    
    <% 
      var c = customer; 
      if(c.profile_updated){
      var addrBuilder = (c.premises?c.premises+'<br />': '')+ (c.door?c.door+' ':'')+(c.street+'<br />')+ (c.town?c.town+'<br />': '')+(c.county?c.county+', ': '')+c.postcode;
      var addrBuilder2 =''
      if(c.town || c.street){
         addrBuilder2 = (c.premises?c.premises+', ': '')+ (c.door?c.door+' ':'')+(c.street+', ')+ (c.town?c.town: '');
      }
      %>
      <div class="profilebox">
      <div class='row2'><div class='flbl'>Title:</div><div class='fnameval'><%-customer.titlename%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>First Name:</div><div class='fnameval'><%-customer.forename%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Middle Name:</div><div  class='fnameval'><%-customer.middlename%>&nbsp;</div></div>

      <div class='row2'><div class='flbl'>Last Name:</div><div  class='fnameval'><%-customer.surname%>&nbsp;</div></div>
      </div>
      <div class="profilebox">
      <div class='row2'><div class='flbl'>Address:</div><div  class='fnameval'><%-addrBuilder2%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Postcode:</div><div  class='fnameval'><%-customer.postcode%>&nbsp;</div></div>
    </div>
      <div class="profilebox">
      <div class='row2'><div class='flbl'>E-Mail:</div><div  class='fnameval'><%-customer.username%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Telephone:</div><div  class='fnameval'><%-customer.mobile%>&nbsp;</div></div>
    </div>
    
      <%if(c.iscompany){%>
        <div class="profilebox">
         
      <div class='row2'><div class='flbl'>Company:</div><div  class='fnameval'><%-customer.companyname%>&nbsp;</div></div>
      <%
      entityname = ''
      if(customer.entitytypeid==1){
        entityname = 'Sole Trader';
      }else if(customer.entitytypeid==2){
        entityname = 'Partnership';
      }else if(customer.entitytypeid==3){
        entityname = 'Limited Company';
      }
      %>

      <div class='row2'><div class='flbl'>Entity Type:</div><div  class='fnameval'><%-entityname%></div></div>
      <div class='row2'><div class='flbl'>Company Address:</div><div  class='fnameval'><%-customer.companyaddr%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>All Stakeholders within the company with a share of higher then 20% must be complete a credit check to register for bidding as company
      <a href='/portal/addcompanymember'><button class='sitebtn-small2'>Add Member</button></a>

      <%members.forEach(m => {
    var tmpname = '';
    if(m.forename){
      tmpname= m.forename + ' ' +m.surname 
    }else{
      tmpname= m.username
    }
    %><li><%-tmpname%></li><%
  });%>
  </div></div>
    </div>
      <div class="profilebox">
      <%} var i=0;
      addrs.forEach(a=>{
        i++;
        var addrBuilder3 = (a.premises?a.premises+', ': '')+ (a.door?a.door+' ':'')+(a.street+', ')+ (a.town?a.town: '');
    
        %><div class='row2'><div class='flbl'>Address History <%-i%>:</div><div  class='fnameval'><%-addrBuilder3%>&nbsp;</div></div>
        <div class='row2'><div class='flbl'>Since:</div><div  class='fnameval'><%-a.start_year%> <%-a.start_month%>&nbsp;</div></div><%
      })%>
    </div>
      <div class="profilebox">
      <div class='row2'><div class='flbl'>Date of Birth:</div><div  class='fnameval'><%-formatDate(customer.dob)%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Nation Insurance:</div><div  class='fnameval'><%-customer.nationalinsurance%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Driving License:</div><div  class='fnameval'><%-customer.drivinglicense%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Passport Number:</div><div  class='fnameval'><%-customer.passport%>&nbsp;</div></div>

    </div>
      <%}%>
    </div>
  </div>
