<%- include('../partials/menu-portal.ejs')%>
<title>Bidding Profile - Auction House</title>
<script src="/dob-picker/dobpicker.js"></script>
<link href="/progress-bar-master/example/css/main.css" rel="stylesheet" />
<script src="/progress-bar-master/progress-bar.js"></script>
<script src="/js/profile_save.js"></script>
<script src="/js/profile_edit.js"></script>
<script src="/js/postcode_search.js" defer></script>
<style>
  .sectionError{
    color:rgb(199, 0, 0);
    font-weight: 700;
    font-size: 14px;
    min-height: 20px;;
  }
  .sitebtn-small2 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    background: #1680cd;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 80px;
}
</style>
<div class='main'>
  <div class='maincontentt'>
    <div class='pagetitle'>Edit Bidding Profile</div>
</div>
<div class='maincontent'>
  <div>

  <div class="progress-bar-wrapper"></div>

<%
console.log(customer)
%>

<div class='myinputsection' id='section-1'>
  <div class='myinputrow'>
  <div class='sectionError' id='error-1'></div>
  </div>
    <div class='myinputrow'>
        Bidding Profile
    <div class="select">
        <select  id='optbiddingtype' autocomplete="off"  placeholder="Title">
        <option value='' <%if(customer.iscompany==null){ %>selected<% }%>>Please Select</option>
        <option value='1' <%if(customer.iscompany==0){ %>selected<% }%>>Bidding as an Individual</option>
        <option value='2'<%if(customer.iscompany==1){ %>selected<% }%> >Bidding as an Company</option>
      </select>
    </div>
    </div>
</div>
<div class='myinputsection' id='section-2'>
  <div class='myinputrow'>
    <div class='sectionError' id='error-2'></div>
    </div>
  <div class='myinputrow'>
    Company Name
    <input id='txtCompanyName' class='mytxt' type='txt'  value='<%-customer.companyname%>' placeholder='Company Name'/>
</div>
  <div class='myinputrow'>
      Company Details
  <div class="select">
      <select  id='optcompany' autocomplete="off" placeholder="Entitiy Type">
      <option value='' >Entitiy Type</option>
      <option value='1' <%if(customer.entitytypeid==1){ %>selected<% }%> >Sole Trader</option>
      <option value='2' <%if(customer.entitytypeid==2){ %>selected<% }%> >Partnership</option>
      <option value='3' <%if(customer.entitytypeid==3){ %>selected<% }%> >Limited Company</option>
    </select>
  </div>
  </div>
  <div class='myinputrow'>
    Company Address
    <textarea id='companyaddress' class='mytxt' rows=6><%-customer.companyaddr%></textarea>
</div>
</div>

<div class='myinputsection' id='section-3'>
  <div class='myinputrow'>
    <div class='sectionError' id='error-3'></div>
    </div>
<div class='myinputrow'>
    Title
<div class="select">
    <select  id='opttitle' autocomplete="off">
    <option value='' placeholder="Title">Select Title</option>
    <option value='1' <%if(customer.title==1){ %>selected<% }%> >Mr</option>
    <option value='2' <%if(customer.title==2){ %>selected<% }%> >Mrs</option>
    <option value='3' <%if(customer.title==3){ %>selected<% }%> >Miss</option>
    <option value='4' <%if(customer.title==4){ %>selected<% }%> >Ms</option>
    <option value='5' <%if(customer.title==5){ %>selected<% }%> >Other</option>
  </select>
</div>
</div>
<div class='myinputrow'>
    First name
    <input id='txtforename' class='mytxt' type='txt'  value='<%-customer.forename%>' placeholder='First name'/>
</div>
<div class='myinputrow'>
    Last name
    <input id='txtsurname' class='mytxt' type='txt'value='<%-customer.surname%>' placeholder='Last name'/>
</div>
<div class='myinputrow'>
    Middle name
    <input id='txtmiddlename' class='mytxt' type='txt' value='<%-customer.middlename%>' placeholder='Middle name'/>
</div>
<div class='myinputrow'>
    Mobile
    <input id='txtmobile' class='mytxt' type='txt' value='<%-customer.mobile%>'  placeholder='Mobile'/>
</div>

</div>


<div class='myinputsection' id='section-4'>
  <div class='myinputrow'>
    <div class='sectionError' id='error-4'></div>
    </div>
    <div class='myinputrow'>
        Postcode Search
        <div class="inputWithIconButton" style='margin-top:10px;'><input class='search-input sitetxt-ib' id='postcodesearchboxN' type='text'  class='mytxt' placeholder='Postcode' /><button id='postcodesearchbtnN'>Search</button></div>
    </div>
    <div class='myinputrow'>
      <div id="postcodesearch_statusN"></div>
    </div>
    <div class='myinputrowaddr'>
        <input id='txtpremN' autocomplete="off" type='text' class='mytxt' value='<%-customer.premises%>' placeholder="Premesis"/>
      </div>
      <div class='myinputrowaddr'>
        <div class='inrow-30-padr'>
        <input id='txtdoorN' class='mytxt' type='txt'  autocomplete="off"   value='<%-customer.door%>'   placeholder="Door"/>
        </div>
        <div class='inrow-70'>
        <input id='txtstreetN' class='mytxt' type='txt'  autocomplete="off"  value='<%-customer.street%>'  placeholder="Street"/>
        </div>
    <div style='clear:both'></div>
      </div>
      <div class='myinputrowaddr'>
        <input id='txttownN' class='mytxt' type='txt'autocomplete="off"  value='<%-customer.town%>' placeholder="Town"/>
      </div>
      <div class='myinputrowaddr'>
        <input id='txtdistrictN' class='mytxt' type='txt' autocomplete="off"   value='<%-customer.district%>' placeholder="District"/>
      </div>
      <div class='myinputrowaddr'>
        <div class='inrow-70-padr'>
        <input  id='txtcountyN' class='mytxt' type='txt' autocomplete="off"  value='<%-customer.county%>'   placeholder="County"/>
        </div>
        <div class='inrow-30'>
            <input id='txtpostcodeN'  class='mytxt' type='txt'  autocomplete="off"    value='<%-customer.postcode%>'   placeholder="Postcode"/>
        </div>
        <div style='clear:both'></div>
        </div>
      <div class='myinputrowaddr' >
        <input  id='txtcountryN' class='mytxt' type='txt' autocomplete="off"   value='<%-customer.country%>' placeholder="Country"/>
      </div>
</div>
<div class='myinputsection' id='section-5'>
  <div class='myinputrow'>
    <div class='sectionError' id='error-5'></div>
    </div>
  <div class='myinputrow'>
    Please provide a 5 Year Address history, please include your Correspondence Addresss.
  </div>

  <div>
     <style>
      .addrPick{
        text-align: center;
        display: inline-block;
        border:1px solid #ccc;
        background:#fff;
        border-radius: 10px;
        margin: 5px 0px 0px 5px;
        height:120px;
        width:150px;
        vertical-align: middle;
        cursor: pointer;
        overflow: hidden;
        
      } .addrPick:hover{
        background-color: #e3d3be;
      }
      
      .addrboxlbl{
        font-weight: 700;
        background-color: #dedede;
        padding:5px;
      }
      .addrcontent{
        padding:10px;
        overflow: hidden;
      }
      #addrHistoryLoaded{
        width:500px;margin:0px auto;
      }
     #btnFinish{
       display: none;
       background: #16cd4c;
     }
      </style>
      <div  id='addrHistoryLoaded'>
       
      </div>
  </div>


  <div class='myinputrow'>
    <div id='specialfunctionaddrhistory'></div>
      Postcode Search
      <div class="inputWithIconButton" style='margin-top:10px;'><input class='search-input sitetxt-ib' id='postcodesearchboxP' type='text'  class='mytxt' placeholder='Postcode' /><button id='postcodesearchbtnP'>Search</button></div>
  </div>
  <div class='myinputrow'>
    <div id="postcodesearch_statusP"></div>
  </div>
  <div class='myinputrowaddr'>
      <input id='txtpremP' autocomplete="off" type='text' class='mytxt' placeholder="Premesis"/>
    </div>
    <div class='myinputrowaddr'>
      <div class='inrow-30-padr'>
      <input id='txtdoorP' class='mytxt' type='txt'  autocomplete="off"  placeholder="Door"/>
      </div>
      <div class='inrow-70'>
      <input id='txtstreetP' class='mytxt' type='txt'  autocomplete="off"  placeholder="Street"/>
      </div>
  <div style='clear:both'></div>
    </div>
    <div class='myinputrowaddr'>
      <input id='txttownP' class='mytxt' type='txt'autocomplete="off" placeholder="Town"/>
    </div>
    <div class='myinputrowaddr'>
      <input id='txtdistrictP' class='mytxt' type='txt' autocomplete="off"  placeholder="District"/>
    </div>
    <div class='myinputrowaddr'>
      <div class='inrow-70-padr'>
      <input  id='txtcountyP' class='mytxt' type='txt' autocomplete="off"    placeholder="County"/>
      </div>
      <div class='inrow-30'>
          <input id='txtpostcodeP'  class='mytxt' type='txt'  autocomplete="off"    placeholder="Postcode"/>
      </div>
      <div style='clear:both'></div>
      </div>
    <div class='myinputrowaddr' >
      <input  id='txtcountryP' class='mytxt' type='txt' autocomplete="off"  placeholder="Country"/>
    </div>
    <div class='myinputrow' >
      Please Enter the Month and Year Started
      <div class='inrow-50-padr'>
      <div class='select'><select id='txtStartYear' autocomplete='off'>
        <%
        var years = [1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021];
        years.forEach(x=>{%>
          <option value='<%-x%>'><%-x%></option>
        <%})%>
      </select>
      </div>
      </div>
      <div class='inrow-50'>
      <div class='select'>
  <select id='txtStartMonth' autocomplete='off'>
    <%
    var months = [{id:1,name:'January'},{id:2,name:'Febuary'},{id:3,name:'March'},{id:4,name:'April'},{id:5,name:'May'},{id:6,name:'June'},{id:7,name:'July'},{id:8,name:'August'},{id:9,name:'September'},{id:10,name:'October'},{id:11,name:'November'},{id:12,name:'December'}];
    months.forEach(x=>{%>
      <option value='<%-x.id%>'><%-x.name%></option>
    <%})%>
  </select>
  </div>
  </div>
  <div style='clear:both;'></div>
    </div>
    <div class='myinputrow' >
      <button class='btn full  btn-3' id='btnSaveAndAdd'>Save and another</button>
    </div>
</div>
<div class='myinputsection' id='section-6'>
  <div class='myinputrow'>
  <div class='sectionError' id='error-6'></div>
  </div>
      <div class='myinputrow'>
          Date of Birth
          <div style='clear:both'></div>
        <div class='inrow-33-padr'>
            <div class='select'><select id="dobday"></select></div>
            </div>
            <div class='inrow-33-padr'>
            <div class='select'><select id="dobmonth"></select></div>
            </div>
            <div class='inrow-33'>
            <div class='select'><select id="dobyear"></select></div>
            </div>
    <div style='clear:both'></div>
      </div>
      <div class='myinputrow'>
          National Insurance Number
        <input id='txtnino' class='mytxt' type='txt' placeholder='National Insurance Number' value='<%-customer.nationalinsurance%>'/>

      </div>
      <div class='myinputrow'>
          Driving License
        <input id='txtdrivinglicense' placeholder='Driving License Number' class='mytxt' type='txt' value='<%-customer.drivinglicense%>'/>
    </div>
      <div class='myinputrow'>
          Passport Number
        <input id='txtpassportno' placeholder='Passport Number' class='mytxt' type='txt' value='<%-customer.passport%>'/>

        </div>
</div>
<div class='myinputsection' id='section-7'>
  <div class='myinputrow' style='text-align: center;'><a href='/portal/profile'><button class='sitebtn-small2'>Done</button></a></div>
</div>
<div class='myinputrow'><button id='btnPrev' class='sitebtn-small2' style='float:left'>Previous</button><button id='btnNext' class='sitebtn-small2' style='float:right'>Next</button><button id='btnFinish' class='sitebtn-small2' style='float:right'>Complete</button></div>
</div></div>
<div style='clear:both; margin-bottom:200px;'></div>

<script>

$(document).ready(function() {
				$.dobPicker({
					daySelector: '#dobday', /* Required */
					monthSelector: '#dobmonth', /* Required */
					yearSelector: '#dobyear', /* Required */
        
					minimumAge: 18, /* Optional */
					maximumAge: 200 /* Optional */
				});


        <%
          if(customer.dob){
            console.log(customer.dob)
            var d = new Date(customer.dob)
           %> 
           console.log()
           $("#dobday").val('<%-d.getDate()%>').change();
           $("#dobmonth").val('<%-d.getMonth()%>').change();
           $("#dobyear").val('<%-d.getFullYear()%>').change();
           <%
          }%>

      
			});
     
var customerid = "<%-customer.id%>";
var spinner ='<div class="sk-chase"><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div></div>';




var isCompany = false;








$(function(){



function start(){
  
  var idName = getCurrentStep(1);
      idName = idName.replace(/\s+/g, '-').toLowerCase();
      $('#'+idName).addClass('visited').addClass('current')

    $('#btnPrev').hide()
$('#section-'+mysectionid).show()

}

start();
})
var list = [
  {name:'Bidding Profile Type',id:1},
  {name:'Entitiy Details',id:2},
  {name:'Contact Details',id:3},
  {name:'Correspondence Address',id:4},
  {name:'Address History',id:5},
  {name:'Additional Information',id:6}
]


function getCurrentStep(id){
  var name = ''
list.forEach(l=>{
  if(l.id==id){
    name = l.name;
  }
})
return name;
}

$('#btnPrev').click(function(){

  if(mysectionid==1){

  }else{
  console.log(mysectionid)
  $('#section-'+mysectionid).hide()
  mysectionid--;
  if(mysectionid==2){
    if(isCompany){

    }else{
      mysectionid--;
    }
  }
  $('#section-'+mysectionid).show()
  for(var i = 0;i<list.length;i++){
    if(i>mysectionid){
      var idName = getCurrentStep(i+1);
      idName = idName.replace(/\s+/g, '-').toLowerCase();
      $('#'+idName).removeClass('visited').removeClass('current')
    }
  }
  if(mysectionid>5){
    $('#btnNext').hide()
    $('#btnFinish').show()
  }else{
    $('#btnNext').show()
    $('#btnFinish').hide()
  }

  var idName = getCurrentStep(mysectionid);
  idName = idName.replace(/\s+/g, '-').toLowerCase();
 
  var percentage = ((mysectionid-1)*100)/(list.length-1);
  console.log(percentage)
  $('.current-status').width(percentage+'%')
  var renderingWaitDelay = 1000;
  setTimeout(function() {
    $('.section').removeClass('current')
  $('#'+idName).addClass('visited').addClass('current')
      }, renderingWaitDelay);

    }

})

function drawProgressBar(){
  console.log('DRAW')
  var mylist = []
list.forEach(l=>{
  mylist.push(l.name);
})
console.log(mylist)
  $('.progress-bar-wrapper').html('')
  ProgressBar.init(mylist,
getCurrentStep(mysectionid),
  'progress-bar-wrapper'
);

}
drawProgressBar()







var spinner ='<div class="sk-chase"><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div><div class="sk-chase-dot"></div></div>';

var mysectionid = 1;

$('#btnNext').click(function(){
    processSection(mysectionid)
    
})
$('#btnFinish').click(function(){
  console.log('clicked')
  processSection(mysectionid)
 // location.href='/portal/profile'
})
function moveNext(){
    for(var i = 0;i<list.length;i++){
      if(i>mysectionid){
        var idName = getCurrentStep(i+1);
        idName = idName.replace(/\s+/g, '-').toLowerCase();
        $('#'+idName).removeClass('visited').removeClass('current')
      }
    }
    var currentStatus = document.getElementById('current-status')
    currentStatus.style.transition = 'width 1000ms linear';
    $('#section-'+mysectionid).hide()
     mysectionid++;
     if(mysectionid==2){
       if(isCompany){
  
       }else{
         mysectionid++;
       }
     }
    $('#section-'+mysectionid).show()
    var idName = getCurrentStep(mysectionid);
    idName = idName.replace(/\s+/g, '-').toLowerCase();
    var percentage = ((mysectionid-1)*100)/(list.length-1);
    console.log(percentage)
    $('.current-status').width(percentage+'%')
    var renderingWaitDelay = 1000;

  if(mysectionid>1){
    $('#btnPrev').show()
  }
  if(mysectionid>5){
    $('#btnNext').hide()
    $('#btnFinish').show()
  }else{
    $('#btnNext').show()
    $('#btnFinish').hide()
  }
    setTimeout(function() {
      if(idName){
      $('.section').removeClass('current')
      console.log(idName)
    $('#'+idName).addClass('visited').addClass('current')
      }
  


  }, renderingWaitDelay);
  }











var addrs = <%-JSON.stringify(addrs)%>

loadOldAddresses(addrs)



function deleteAddr(id){
  $.post('/profile/deleteAddr',{id:id},function(data){
    loadOldAddresses(data.addrs)   
  },'json')
}






function processSection(id){
  console.log(id)
    if(id==1){
        saveBiddingType(id)
    }else if(id==2){
        saveCompanyDetails(id)
    }else if(id==3){
        saveCustomerDetails(id)
    }else if(id==4){
        saveCustomerAddress(id)
    }else if(id==5){
        moveNext()
    }else if(id==6){
        saveCustomerVerification(id)
    }
  }
  function saveCompanyDetails(id){
    var companyname = $('#txtCompanyName').val()
    var companytype = $('#optcompany').val()
    var companyaddress = $('#companyaddress').val()
    $.post('/profile/addCompanyDetails',{companyname,companytype,companyaddress},function(data){
        moveNext()
    },'json')
  }

  function saveCustomerAddress(id){
    var address = {
        premises: $('#txtpremN').val()
        , door: $('#txtdoorN').val()
        , street: $('#txtstreetN').val()
        , town: $('#txttownN').val()
        , district: $('#txtdistrictN').val()
        , county: $('#txtcountyN').val()
        , country: $('#txtcountryN').val()
        , postcode: $('#txtpostcodeN').val()
    }
    $.post('/profile/updatecustomeraddress',{address},function(data){
        moveNext()
    },'json')
  }


  function saveBiddingType(id){
    var biddingType = $('#optbiddingtype').val()
    if(!biddingType){
      $('#error-'+id).html('You are required to select One')
    }else{
      $('#error-'+id).html('')
      if(biddingType==2){
        isCompany = true;
      }else{
        isCompany = false;
      }
      console.log("SENDING REQUEST")
      $.post('/profile/updateCompany',{biddingType},function(){
        console.log('RESPONSE')
        moveNext()
      },'json')
    }
  }

  function saveCustomerDetails(id){
    
    var errors = 0
    var issues = []
    $('#error-'+id).html('')
    var title = $('#opttitle').val();
    
    var forename = $('#txtforename').val()
    var lastname = $('#txtsurname').val()
    var middlename = $('#txtmiddlename').val()
    var telephone = $('#txttelephone').val()
    var mobile = $('#txtmobile').val()
    if(!title){
      errors++;
      issues.push('<div>Title is not defined</div>')
    }
    if(forename.length<2){
      errors++;
      issues.push('<div>Issue with your First Name</div>')
    }
    if(lastname.length<2){
      errors++;
      issues.push('<div>Issue with your Last Name</div>')
    }
    if(errors){
        issues.forEach(function(ms){
            $('#error-'+id).append(ms)
        })
     
    }else{
      $.post('/profile/updatecustomer',{title,forename,lastname,middlename,telephone,mobile},function(data){
        moveNext()
      },'json')
    }
  }
  
  function isValidDate(d) {
    return d instanceof Date && !isNaN(d);
  }

  function saveCustomerVerification(id){
    $('#error-'+id).html('')
    var errors = 0
    var issues = [];
    var dob = $('#txtdob').val()
    var year = $('#dobyear').val()
    var monthi =  parseInt($('#dobmonth').val())
    var dayi = parseInt($('#dobday').val())
    var day = dayi> 9 ? "" + dayi: "0" + dayi;
    var month = monthi> 9 ? "" + monthi: "0" + monthi;
    var tmpdate = year+'-'+month+'-'+day
    var mydate = new Date(tmpdate)
    if(!isValidDate(mydate)){
        errors++;
        issues.push('<div>Date of Birth is Invalid</div>')
    }
    
    var nino = $('#txtnino').val()
    var driving = $('#txtdrivinglicense').val()
    var passport = $('#txtpassportno').val()
    if(errors){
        console.log('issues')
        issues.forEach(function(ms){
          console.log(ms)
            $('#error-'+id).append(ms)
        })
     
      }else{
        $.post('/profile/updateverificationcustomer',{dob:tmpdate,nino,driving,passport},function(data){

          location.href= '/portal/profile'
        },'json')
    }
  }


$(function(){
$('#btnSaveAndAdd').click(function(){ 
  console.log('dadsfa')
  $('#error-'+5).html('')
  var errors =0;
  var issues = [];
  var address = {
  premises: $('#txtpremP').val()
  , door: $('#txtdoorP').val()
  , street: $('#txtstreetP').val()
  , town: $('#txttownP').val()
  , district: $('#txtdistrictP').val()
  , county: $('#txtcountyP').val()
  , country: $('#txtcountryP').val()
  , postcode: $('#txtpostcodeP').val()
  }
  var startYear = $('#txtStartYear').val()
  var startMonth = $('#txtStartMonth').val()
  if(!startMonth){
    errors++;
    issues.push('The Start Month is missing')

  }
  if(!startYear){
    errors++;
    issues.push('The Start Year is missing')
    
  }
  if(errors){
    issues.forEach(function(ms){
        $('#error-'+5).append('<div>'+ms+'</div>')
    })
 
  }else{
  $.post('/profile/addHistoryAddr',{address,startYear,startMonth},function(data){
    loadOldAddresses(data.addrs)    
  },'json')
}
})
})

function loadOldAddresses(addrs){

  $('#txtpremP').val('')
  $('#txtdoorP').val('')
  $('#txtstreetP').val('')
  $('#txttownP').val('')
  $('#txtdistrictP').val('')
  $('#txtcountyP').val('')
  $('#txtcountryP').val('')
  $('#txtpostcodeP').val('')
  $('#txtStartYear').val('')
  $('#txtStartMonth').val('')
  $('#postcodesearch_statusP').html('')
  $('#postcodesearchboxP').val('')
  var monthNames = [{id:1,name:'January'},{id:2,name:'Febuary'},{id:3,name:'March'},{id:4,name:'April'},{id:5,name:'May'},{id:6,name:'June'},{id:7,name:'July'},{id:8,name:'August'},{id:9,name:'September'},{id:10,name:'October'},{id:11,name:'November'},{id:12,name:'December'}];
   
  var strs = ''
  addrs.forEach(a=>{
    var tmp = a.premises ? a.premises +', '+ a.door : a.door
    var addrlbl = tmp+' '+ a.street;
    var theMonthName = ''
    monthNames.forEach(x=>{
      if(a.start_month == x.id){
        theMonthName = x.name;
      }
})

strs += "<div class='addrPick' id='addrid-"+a.id+"'><div class='addrboxlbl'>"+theMonthName +" "+a.start_year+"</div><div class='addrcontent'>"+addrlbl+"</div></div>";

  })
  $('#addrHistoryLoaded').html(strs)
  $('#specialfunctionaddrhistory').html('')
  $('.addrPick').click(function(){
  var tmpaddrid = this.id.split('-')[1];
  console.log(tmpaddrid)
  runAddPick(tmpaddrid)
})
}



function runAddPick(addrid){
  addrs.forEach(a=>{
    if(a.id==addrid){
      $('#txtpremP').val(a.premises)
      $('#txtdoorP').val(a.door)
      $('#txtstreetP').val(a.street)
      $('#txttownP').val(a.town)
      $('#txtdistrictP').val(a.district)
      $('#txtcountyP').val(a.county)
      $('#txtcountryP').val(a.country)
      $('#txtpostcodeP').val(a.postcode)
      $('#txtStartYear').val(a.start_year)
      $('#txtStartMonth').val(a.start_month)
      $('#specialfunctionaddrhistory').html('<button class="sitebtn-small" onclick="deleteAddr('+a.id+')" >Delete</button>')
    }
  })
}



</script>