<%- include('../partials/menu-portal.ejs')%>
<script src="/dob-picker/dobpicker.js"></script>
<link href="/progress-bar-master/example/css/main.css" rel="stylesheet" />
<script src="/progress-bar-master/progress-bar.js"></script>
<script src="/js/profile_save.js"></script>
<script src="/js/postcode_search.js" defer></script>
<style>
  .cmimg {
    height: 100px;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 20px;
  }
  .fnameval{
   /* padding:15px;*/
    display: inline-block;
    font-weight: 600;
    background: #fff5d0;
    padding:5px 10px;
    border:2px solid #000;
    width:400px;
    overflow:hidden;
    vertical-align: middle;

   /* min-width: 500px;background-color: #fff;border:1px solid #ddd;;*/
  }
  .flbl{
    display: inline-block;
    min-width: 130px;;
    vertical-align: middle;
  }
  .row2{
    white-space: nowrap;
    word-break: keep-all;
    margin:5px 0px;
    vertical-align: middle;
  }
  .sitebtn-small2 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    background: #1680cd;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 80px;
}
.cimg{

  border: 1px solid #ddd;
}
</style>

    <div style="padding: 20px;margin:30px; background-color: #fff; box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.075);margin-top:30px;overflow: hidden; width:600px;margin:20px auto;">
    
      <div style='float:left;margin-right:20px'><img src="/images/user.gif" class="cimg" /></div>
      <div style='float:left;'>
        <div style='font-size:20px;font-weight: 600;'><%-customer.forename%> <%-customer.surname%></div>
        <div style='font-size:16px;'><%-customer.username%></div>
        <div style='font-size:16px;'><%-customer.mobile%></div>
      </div>
      <div style='float:right'><a href='/portal/profileedit'><button id='start' class='sitebtn-small2' style='float:right'>edit</button></a></div>
    <div style='clear:both;padding:5px;'></div>
    <% 
      var c = customer; 
      if(c.iscompany){
      var addrBuilder = (c.premises?c.premises+'<br />': '')+ (c.door?c.door+' ':'')+(c.street+'<br />')+ (c.town?c.town+'<br />': '')+(c.county?c.county+', ': '')+c.postcode;
      var addrBuilder2 = (c.premises?c.premises+', ': '')+ (c.door?c.door+' ':'')+(c.street+', ')+ (c.town?c.town: '');
      %>
      <div class='row2'><div class='flbl'>Title:</div><div class='fnameval'><%-customer.title%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>First Name:</div><div class='fnameval'><%-customer.forename%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Last Name:</div><div  class='fnameval'><%-customer.surname%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Middle Name:</div><div  class='fnameval'><%-customer.middlename%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Address:</div><div  class='fnameval'><%-addrBuilder2%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Postcode:</div><div  class='fnameval'><%-customer.postcode%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>E-Mail:</div><div  class='fnameval'><%-customer.username%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Telephone:</div><div  class='fnameval'><%-customer.mobile%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Company:</div><div  class='fnameval'>n/a</div></div>
      <% var i=0;
      addrs.forEach(a=>{
        i++;
        var addrBuilder3 = (a.premises?a.premises+', ': '')+ (a.door?a.door+' ':'')+(a.street+', ')+ (a.town?a.town: '');
    
        %><div class='row2'><div class='flbl'>Address History <%-i%>:</div><div  class='fnameval'><%-addrBuilder3%>&nbsp;</div></div>
        <div class='row2'><div class='flbl'>Since:</div><div  class='fnameval'><%-a.start_year%> <%-a.start_month%>&nbsp;</div></div><%
      })%>
      <div class='row2'><div class='flbl'>Date of Birth:</div><div  class='fnameval'><%-customer.dob%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Nation Insurance:</div><div  class='fnameval'><%-customer.nationalinsurance%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Driving License:</div><div  class='fnameval'><%-customer.drivinglicense%>&nbsp;</div></div>
      <div class='row2'><div class='flbl'>Passport Number:</div><div  class='fnameval'><%-customer.passport%>&nbsp;</div></div>
      <%}%>
    </div>
  </div>
 
  <div style="padding: 20px;margin:30px;">

      </div>