<%- include('../partials/menu-portal.ejs')%>
<script src="/dob-picker/dobpicker.js"></script>
<link href="/progress-bar-master/example/css/main.css" rel="stylesheet" />
<script src="/progress-bar-master/progress-bar.js"></script>
<script src="/js/profile_save.js"></script>
<script src="/js/postcode_search.js" defer></script>
<style>
.cmimg {
   
    height: 100px;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 20px;
}
</style>

<div style='padding:20px;'>
  <div style='padding:20px;background-color: #f8f9fa;;box-shadow: 0 0.2rem 0.6rem 0 rgba(0,0,0,.075);'>
    <div><a href='/portal/profileedit'>Edit</a></div>
    <div class='profilebox'>
      <div style='text-align: center;'><img src="/images/user.gif" class="cmimg"></div>
      <div style='text-align: center;font-weight:900;font-size: 24px;'><%-customer.forename%> <%-customer.surname%></div>
      <div><%-customer.mobile%></div>
      <div><%-customer.username%></div>
    </div>
    <div>
      <%
      var c = customer;
      var addrBuilder = (c.premises?c.premises+'<br/>': '')+ (c.door?c.door+' ':'')+(c.street+'<br/>')+ (c.town?c.town+'<br/>': '')+(c.county?c.county+', ': '')+c.postcode
      
      if(addrBuilder){
      %>
      
    <div style='border:1px solid #ccc;padding:10px 20px;background:#fff;font-size:16px;'>
      <%-addrBuilder%>
    </div>
    <%}%>
    <div>
      <div class="widget-content">
          <table class="fit vtop infotable" style="table-layout:fixed;">
          <tr><th style='width:60%;'>Address</th><th>Postcode</th><th>Year</th><th>Month</th></tr>
          <%addrs.forEach(a=>{
            var tmp = a.premises ? a.premises +', '+ a.door : a.door
            var addrlbl = tmp+' '+ a.street+','+a.town
            %><tr><td><%-addrlbl%></td><td><%-a.postcode%></td><td><%-a.start_year%></td><td><%-a.start_month%></td></tr><%
          })
          %>
         </table>

  </div>

</div>
          <div style='text-align:right;'><button id='btnRun' class='sitebtn-small'>Run AML Credit Check</button></div>
        <table class="fit vtop infotable" style="table-layout:fixed;">
          <tbody>
            <tr><th style='width:320px;'>Date</th><th style='width:160px;'>Report Name</th><th  style='width:60px;'>Score</th><th>Status</th><th>details</th></tr>
            
            <%amlchecks.forEach(a=>{
              %><tr><td><i class='icocmp'>a.rundate</i></td><td><%-a.profilename%></td><td><%-a.score%></td><td><%-a.bandtext%></td><td><a href='/aml/details/<%-a.id%>'>details</a></td></tr><%
            })%>
        </table>
      </div>