<%- include('../partials/menu-portal.ejs')%>

<style>
  .legaldoc{
    background:#fff;
    margin:20px;
    padding:20px;
    border:1px solid #ccc;
  }
  th{
    background:#ccc;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    padding:3px;
    font-weight:400;
    font-size:13px;
  }
  td{
    background:#fff;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    padding:3px 8px;
    color:#444;
    font-weight:400;
    font-size:12px;

  }
  table{
    border-collapse: collapse;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
  }
  a{
    
  }
</style>
<div class='main'>
  <div class='maincontentt'>
    <div class='pagetitle'>Legal Pack</div>
</div>
<div class='maincontent'>
<%console.log(property)%>
<div style='flex:1;'>
  <div style='display:flex;margin:20px auto;'>
<div id="primaryImageContainer" style='background:red;background-image:url("<%-property.primaryimgurl%>");background-size:contain;width:500px;padding-bottom:25%;box-shadow: 0 2px 6px rgb(0 0 0 / 20%);'>
    
</div>
  <div  style='margin:0px 20px;font-size: 14px;font-weight:700;'>
    <div style='padding:30px;    background-color: rgb(255, 255, 255);box-shadow: rgb(38 38 48 / 24%) 0px 4px 16px;min-height: 400px;;'>
      <div style='float:right;'><img src='/images/logo.png' style='height:45px;'/>  </div>
      <div style='font-weight:600;color:#000;font-size: 18px; max-width:60%;padding-bottom:20px;float:left;'><%-property.propname%></div>
      <div style='clear:both;'></div>
      <div style='margin:30px 0px;;background:#cfd8dc;border-radius: 14px;;'>
 
      </div>
      <%if(property.datetime){%>
          <div style='margin-top:10px;'><span  style='font-size:18px;font-weight:bolder;color:#888;'>Auction Date: </span><span style='font-size:18px;font-weight:bolder'><%-helper.formateDateTimeFull(property.datetime)%></span></div>
          <%}%>
    
    
          <div class="propertymainprice" style='text-align:center;margin-top:30px;'><span style='font-weight:500;font-size: 22px;'>*Guide Price</span>&nbsp;<%-helper.formatToCurrency(property.price)%></div>
       
    </div>
    </div>
  </div>

<div style='margin:20px 0;'>
    Please note that downloading any documents means you agree to the following terms and conditions:
    
</div>
<%
if(legal_documents.length){
    
}else{
    %><div style='margin:20px;font-weight:500;'>No Documents Available...</div><%
}
%>
<div id='myfiles'>
  <div id='myfiles'>
  <table class='list' style='margin-top:30px;width:100%;'>
    <tr><th style='width:220px;'>Category</th><th  style='width:370px;'>Filename</th><th>Download</th><th>Revision Notes</th></tr>
<%
var imgpdf = '<img src="/images/icons/pdf-2616.svg" style="height:24px;vertical-align: middle;margin-right:20px;"/>'

legal_documents.forEach(d1=>{
  d1.count = 0;
  legal_documents.forEach(d2=>{
    if(d1.id==d2.id){
      d1.count++
    }
  })
})
var catstr = '';
var notesstr = '';
var docustr = ''
legal_documents.forEach(d=>{
  
  %>
  <tr>
    <%
      catstr = `<td>${d.cat}</td>`
      isoldclass = '';
    %>
    <%-catstr%><td><%-imgpdf%><%-d.name%></td><td style='text-align:right;'><a href='/legalpackdownload/<%-d.fileid%>'  target='_blank'>download</a></td><td><%-d.revisionnotes%></td>
  </tr>
  <%
})

%>
</table>
</div>
</div>
</div>
</div>
</div>