<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<style>

.mitem{
    float:right;
    padding:20px;
    color:#777;
    font-size: 20px;;
  }
  .mitem a{
    color:#777;
    font-size: 18px;
    font-weight: 500;
  }
  .mitem i{
    display: inline-block;
    padding-right:10px;
    font-size: 24px;
    color: #b82b35;
  }
  </style>
<div class='container'>
<div style='padding:20px 0px;'>
   
  <div class='auctionresultsmenu'><div style='float:right;'><div class='mitem'><a href='/auction-lots'><i class="fa fa-th-large"></i>&nbsp;&nbsp;&nbsp;Grid View</a></div><div class='mitem'> <a href='/auction-maps'><i class="fa fa-map-marker-alt"></i>Map View</a></div><div class='mitem'><a href='/auction-lots-list'><i class="fa fa-list"></i>&nbsp;&nbsp;&nbsp;List View</a></div><div style='clear:both;'></div></div></div>
  <div style='clear:both;'></div>
<div class='lotlistwrapper'>
<%
const formatToCurrency = amount => {
  return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
};

lots.forEach(data=>{%><div class='lotitem'>
    <div class='lotno'>Lot No.<%-data.id%></div>
 <!--   <img src='data.uri' style='height:190px;' /> -->
    <div class='lotitmlstimg' style='background-image: url(<%-data.uri%>);'></div>
   
    <div class='lotDesc'><%-data.propname%></div>
    <div class='lotPrice'>Guide Price <%-formatToCurrency(data.price)%> + fees</div>
    <a class='lotlink' href='/lot/details/<%-data.id%>'>Full details  &nbsp;&nbsp;&nbsp;	&#8594; </a>
    <div style='clear:both'></div>
</div><%})%>
</div>
</div>
</div>

<%- include('../partials/footer.ejs')%>