<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<style>
.lotitmlstimg-list{
    float:left;
    height:120px;
    width:200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right:10px;
}
.lotno-list{
    float:right;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #000;
    font-weight: 900;
    font-size: 18px;
    padding: 20px;
}

.lotDesc-list{
    float:left;
    font-size:20px;
    padding:10px;
}
.lotitem-list{

    background:#f9f9f9;
    border-bottom: 1px solid #ddd;;
}
.lotPrice{
    padding:10px;
}
.lotlink{
    padding:10px;
}
.lotitem-list:hover{
    background:#eceaea;
}
.mitem{
    float:right;
    padding:20px;
    color:#777;
    font-size: 20px;;
  }
  .mitem a{
    color:#777;
    font-size: 18px;
    font-weight: 500;
  }
  .mitem i{
    display: inline-block;
    padding-right:10px;
    font-size: 24px;
    color: #b82b35;
  }
</style>
<div class="maindivider" style='margin-top:60px;' ></div>
<div class='mycontainer'>
   
    <div class="maindivider" ></div>
    <div style='clear:both;'></div>
<%
const formatToCurrency = amount => {
    if(amount){
  return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    }else{
        return "";
    }
};

lots.forEach(data=>{%>
    <div class='lotitem-list' style='display: flex; margin-bottom:30px;'>
       
    <div class='lotitmlstimg-list' style='background-image: url(<%-data.uri%>);float:none'> <div class='lotno'>LOT <%-data.lotno%></div></div>
        <div style='display: flex;flex-direction: column;flex:1;'>
    <div class='lotDesc-list' style='font-weight:400;'><%-data.name%></div>
    <div class='lotPrice' >*<%-formatToCurrency(data.price)%>+</div>
   
    <a class='lotlink' href='/lot/details/<%-data.id%>' style='text-align:right;'>Full details  	&#8594; </a>
    </div>
</div>

<%})%>
</div>
<div style='padding:100px;'></div>
<%- include('../partials/footer.ejs')%>