<%- include('../partials/header.ejs')%>
<style>
  .mypoint {
    background-repeat: no-repeat;
    display: inline-block;
    padding: 14px 0px;
    background-size: contain;
    background-image: url("/content/housebullet.png");
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-weight: 700;
  }
  .lititle {
    display: inline-block;
  }
  .areabox{
    padding:20px;
    flex:1 0 50%;
    box-sizing: border-box;

  }
  .areatitle{
    font-size: 16px;
    font-weight: 700;
  }
  .roomtitle{
    font-size: 14px;
    font-weight: 500;
    color: #b82b35;
    padding:6px;
  }
  .roomswrapper{
      display: flex;
      flex-wrap: wrap;
  }
  .roomcontent{
      color:#777;
  }
  .roombox{
      padding:5px 0px;
  }
</style>
<div class="bannerimagecen2">
  <div class="bannerimgtint2">
    <div class="homecontainer">
      <div style="text-align: center">
        <div class="formtitle">Local Auction Rooms for Local Buyers</div>
        <div class="form-page" style='margin-bottom: 50px;background: #fff;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:4px;'>
          <div class="roomswrapper">
              
          <%

            areas = []
            rooms.forEach(r=>{
                var found = false;
                areas.forEach(a=>{
                    if(a.name==r.area){
                     found = true;
                        a.rooms.push(r)
                    }
                })
                if(!found){
                    areas.push({name:r.area,rooms:[r]})
                }
            })
            areas.forEach(a=>{
                %><div class='areabox'><div class='areatitle'><%-a.name%></div><%
                a.rooms.forEach(r=>{
                    console.log(r)
                    %><div class='roombox'><div class='roomtitle'><img src='/images/logo3.png' style='height:18px; vertical-align: middle;margin-right:10px;' /><%-r.name%></div><div class='roomcontent'><%-r.location%></div></div><%
                })
                %></div><%
            })
          %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('../partials/general-menu.ejs')%> <%- include('../partials/footer.ejs')%>
