<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<div class="maindivider" ></div>
<div class='mycontainer'>
<div style='padding:20px 0px;'>
   
<div class="maindivider" ></div>
<div class='lotlistwrapper'>
  <%
  const formatToCurrency = amount => {
    return "£" + amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  };
  
  lots.forEach(data=>{%><div class='lotitemholder' >
  
  <div class='lotitem'  style='position:relative'>
    <div class='ribbon ribbon-top-right'> <span>Under Offer</span></div>
      <div class='lotno'>LOT <%-data.id%></div>
    
        
   <div class='lotitmlstimg' style='background-image: url(<%-data.uri%>);'></div>
   <div style='padding:10px;box-sizing: border-box;'>
     <div class='lotPrice'>*<%-formatToCurrency(data.price)%>+</div>
   <div style='clear:both;'></div>
   <div class='lotDesc'><%-data.propname%></div>
   <a class='lotlink' href='/lot/details/<%-data.id%>'>Full details  &nbsp;&nbsp;&nbsp;	&#8594; </a>
   <div style='clear:both'></div></div>
    </div></div><%})%>
  </div>
<div style='clear:both;'></div>
<div class="maindivider" ></div>
</div>
</div>
</div>
</div>
<%- include('../partials/footer.ejs')%>