<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<style>


  </style>
    <div class="bannerimagecen">
      <div class="bannerimgtint">
        <div class="mycontainer" style='min-height:200px;'>
    </div>
    </div>
    </div>
<div class='mycontainer'>
 <div style='padding:10px;'> <h4>All Lots</h4></div>
<div style='padding:20px 0px;'>
  <div class='auctionresultsmenu'><div style='float:right;'><div class='mitem'><a href='/auction-lots'><i class="fa fa-th-large"></i>&nbsp;&nbsp;&nbsp;Grid View</a></div><div class='mitem'> <a href='/auction-maps'><i class="fa fa-map-marker-alt"></i>Map View</a></div><div class='mitem'><a href='/auction-lots-list'><i class="fa fa-list"></i>&nbsp;&nbsp;&nbsp;List View</a></div><div style='clear:both;'></div></div></div>
  <div style='clear:both;'></div>
<div class='lotlistwrapper'>
<%
const formatToCurrency = amount => {
  return "£" + amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
};

lots.forEach(data=>{%><div class='lotitemholder'>
  <a class='lotlink' href='/lot/details/<%-data.id%>'>
<div class='lotitem'>
    <div class='lotno'>LOT <%-data.lotno%></div>
 
 <div class='lotitmlstimg' style='background-image: url(<%-data.uri%>);'></div>
 <div style='padding:10px;box-sizing: border-box;'>
   <div class='lotPrice'>*<%-formatToCurrency(data.price)%>+</div>
 <div style='clear:both;'></div>
 <div class='lotDesc'><%-data.propname%></div>
 <a class='lotlink' href='/lot/details/<%-data.id%>'>Full details  &nbsp;&nbsp;&nbsp;	&#8594; </a>
 <div style='clear:both'></div></div>
  </div></a></div><%})%>
</div>
</div>
</div>

<%- include('../partials/footer.ejs')%>
<style>
  .lotlink{
    text-align:right;
  }
  </style>