<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<div class="maindivider" ></div>
<div class='mycontainer'>
<div style='padding:20px 0px;'>
   
<div class="maindivider" ></div>
<div class='lotlistwrapper'>
  <style>
    .lotitem{
      min-width: 400px;
    }
    </style>

<%
const formatToCurrency = amount => {
  return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
};

lots.forEach(data=>{%><div class='lotitem '>  
    <div class='lotno'>Lot No.<%-data.id%></div>
 <!--   <img src='data.uri' style='height:190px;' /> -->
    <div class='lotitmlstimg' style='position:relative;background-image: url(<%-data.uri%>);'><div class="ribbon ribbon-top-right"><span>Sold</span></div></div>
   
    <div class='lotDesc'><%-data.propname%></div>
    <div class='lotPrice'>Guide Price <%-formatToCurrency(data.price)%> + fees</div>
    <a class='lotlink' href='/lot/details/<%-data.id%>'>Full details  &nbsp;&nbsp;&nbsp;	&#8594; </a>
    <div style='clear:both'></div>
</div><%})%>
<div style='clear:both;'></div>
<div class="maindivider" ></div>
</div>
</div>
</div>
</div>
<%- include('../partials/footer.ejs')%>