<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<style>
.lotitmlstimg-list{
    float:left;
    height:120px;
    width:200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right:10px;
}
.lotno-list{
    float:right;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #000;
    font-weight: 900;
    font-size: 18px;
    padding: 20px;
}

.lotDesc-list{
    float:left;
    font-size:20px;
    padding:10px;
}
.lotitem-list{

    background:#f9f9f9;
    border-bottom: 1px solid #ddd;;
}
.lotPrice{
    padding:10px;
}
.lotlink{
    padding:10px;
}
.lotitem-list:hover{
    background:#eceaea;
}
.mitem{
    float:right;
    padding:20px;
    color:#777;
    font-size: 20px;;
  }
  .mitem a{
    color:#777;
    font-size: 20px;;
  }
  .mitem i{
    display: inline-block;
    padding-right:10px;
  }
</style>
<div class="maindivider" ></div>
<div class='mycontainer'>
   
    <div class='auctionresultsmenu'><div style='float:right;'><div class='mitem'><a href='/auction-lots'><i class="fa fa-th-large"></i>&nbsp;&nbsp;&nbsp;Grid View</a></div><div class='mitem'> <a href='/auction-maps'><i class="fa fa-map-marker-alt"></i>Map View</a></div><div class='mitem'><a href='/auction-lots-list'><i class="fa fa-list"></i>&nbsp;&nbsp;&nbsp;List View</a></div><div style='clear:both;'></div></div></div>
    <div class="maindivider" ></div>
    <div style='clear:both;'></div>
<%
const formatToCurrency = amount => {
  return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
};

lots.forEach(data=>{%>
    <div class='lotitem-list'>
 
    <div class='lotitmlstimg-list' style='background-image: url(<%-data.uri%>);'></div>
   <div style='float:left;padding:5px 20px;'>
 
    <div class='lotDesc-list'><%-data.propname%></div>
    <div class='lotPrice'>Guide Price <%-formatToCurrency(data.price)%> + fees</div>
    <a class='lotlink' href='/lot/details/<%-data.id%>'>Full details  	&#8594; </a>
    </div>

    <div class='lotno-list'>Lot No.<%-data.id%></div>
    <div style='clear:both'></div>
</div>

<%})%>

</div>
<%- include('../partials/footer.ejs')%>