
<div class='mycontainer'>

  

<h4>Featured Lots</h4>
<div class='lotlistwrapper'>
<%
const formatToCurrency = amount => {
  return "£" + amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
};

lots.forEach(data=>{%><div class='lotitemholder'><div class='lotitem'>
    <div class='lotno' style='z-index:100;'>LOT <%-data.lotno%></div>

      
    <div class='lotitmlstimg' style='background-image: url(<%-data.uri%>);'></div>
    <div style='padding:10px;box-sizing: border-box;'>
      <div class='lotPrice'>*<%-formatToCurrency(data.price)%>+</div>
    <div style='clear:both;'></div>
    <div class='lotDesc'><%-data.propname%>
      </div>
    <a class='lotlink' href='/lot/details/<%-data.id%>'>Full details  &nbsp;&nbsp;&nbsp;	&#8594; </a>
    <div style='clear:both'></div></div>
  </div></div><%})%>
</div>
</div>