
<div class='container'>
<div style='padding:20px 0px;'>
  <style>
    .lotitem{
      min-width:250px;
    }
    </style>
<div class='auctionresultsmenu'>A few auction items <a href='/auction-lots'>see more...</a></div>
<div class='lotlistwrapper'>
<%
const formatToCurrency = amount => {
  return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
};

lots.forEach(data=>{%><div class='lotitem'>
    <div class='lotno'>Lot No.<%-data.id%></div>
 <!--   <img src='data.uri' style='height:190px;' /> -->
    <div class='lotitmlstimg' style='background-image: url(<%-data.uri%>);'></div>
   
    <div class='lotDesc'><%-data.propname%></div>
    <div class='lotPrice'>Guide Price <%-formatToCurrency(data.price)%> + fees</div>
    <a class='lotlink' href='/lot/details/<%-data.id%>'>Full details  &nbsp;&nbsp;&nbsp;	&#8594; </a>
    <div style='clear:both'></div>
</div><%})%>
</div>
</div>
</div>