<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<style>
    .flexwrapper{
        display: flex;
    }
    .contacta{
        flex:1;
        padding:20px;
        box-sizing: border-box;
    }
    .mt-0{
        font-size: 26px;
        color:#777;
    }
    .contacta{
        color:#555;
        font-size: 18px;;
    }
    .contacta a{
        text-decoration: none;;
        color:#555;
    }
    .opentime{
        font-size: 14px;
        font-weight: 600;
    }
</style>

<div class="mycontainer">
    <div class="flexwrapper">
        <div class="contacta">
                        <h3 class="mt-0">Essex</h3>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="address-icon-48"></div>
                            </div>
                            <p class="col-xs-18">
                                Hillsboro<br>377 Southchurch Road<br>Southend-on-Sea<br>SS1 2PQ
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="email-icon-48"></div>
                            </div>
                            <p class="col-xs-18">
                                essex@auctionhouse.online 
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="telephone-icon-48 icons-48"></div>
                            </div>
                            <p class="col-xs-18">
                                <a href="tel:01702 33 33 99" class="text-black" data-track="true" data-track-cat="Engagement" data-track-action="Click" data-track-label="Telephone (Auction House Essex &amp; Kent)">01702 33 33 99</a>
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="clock-icon-48 icons-48"></div>
                            </div>
                            <div class='opentime'>Opening Hours</div>
                             <p>   Monday - Friday 9am - 5.30pm</p>
                        </div>
                    </div>
                    <div class="contacta">
                        <div class="spacer"></div>
                        <h3 class="mt-0">Kent</h3>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="address-icon-48"></div>
                            </div>
                            <p class="col-xs-18">
                                GHL House<br>12-14 Albion Place<br>Maidstone<br>ME14 5DZ
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="email-icon-48"></div>
                            </div>
                            <p class="col-xs-18">
                                kent@auctionHouse.online
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="telephone-icon-48 icons-48"></div>
                            </div>
                            <p class="col-xs-18">
                                <a href="tel:01622 589 623" class="text-black" data-track="true" data-track-cat="Engagement" data-track-action="Click" data-track-label="Telephone (Auction House Essex &amp; Kent)">01622 589 623</a>
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="clock-icon-48 icons-48"></div>
                            </div>
                            <div class='opentime'>Opening Hours</div>
                             <p>   Monday - Friday 9am - 5.30pm</p>
                        </div>
                        <div class="spacer"></div>
        </div>

        

    </div>
</div>

<%- include('../partials/contact-box.ejs')%>
<div id='map' style='width:100%;height:700px;'></div>

<script>
    let map;
  
  function initMap() { 
       const myLatLng = {lat: 51.27484, lng: 0.53072 };
       const myLatLng2 = {lat: 51.54040, lng: 0.72382 };

    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 51.37484, lng: 0.9072},
      zoom: 10,
    });
    new google.maps.Marker({
          position: myLatLng,
          map,
          title: "Kent",
        });
        new google.maps.Marker({
          position: myLatLng2,
          map,
          title: "Essex",
        });

  }
  
  </script>


<script async
src="https://maps.googleapis.com/maps/api/js?key=<%-apikey%>&callback=initMap">
</script>


<%- include('../partials/footer.ejs')%>
